.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headerContainer {
  margin-top: 30px;
  justify-content: space-between;
}
.navbar > a {
  margin-right: 20px;
  text-decoration: none;
  color: rgb(31, 32, 32);
}
